<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SANNetworkManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>265F8C1A1EADDEA700596251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>265F8C2E1EADDEA700596251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>265F8C391EADDEA800596251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
